<ion-content>
  <ion-header>
    <ion-toolbar>
      <a href="/user-dashboard"><ion-icon slot="start" class="menu" name="arrow-back"></ion-icon></a>
      NOTIFICATION
    </ion-toolbar>
  </ion-header>
    
      <ion-card *ngFor="let item of studentList" color="tertiary">
        <span *ngIf="!item.isEdit; else elseBlock">
          <ion-card-header>
            <ion-card-subtitle>From: {{item.FROM}}</ion-card-subtitle> 
            <ion-card-subtitle>{{item.MESSAGE}}</ion-card-subtitle>
          </ion-card-header>
        </span>
        <ng-template #elseBlock>
          <ion-card-header>
            <ion-card-title>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    EDIT
                  </ion-col>
                  <ion-col>
                    <ion-button class="book" color="medium" size="small" (click)="item.isEdit = false">
                      Cancel
                    </ion-button>
                  </ion-col>
                  <ion-col>
                    <ion-button class="book" color="success" size="small" (click)="UpdateRecord(item)">
                      Update
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
          
            <ion-item>
              <ion-label><strong>FROM:</strong></ion-label>
              <ion-input type="email" [(ngModel)]="item.EditFROM"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label><strong>MESSAGE:</strong></ion-label>
              <ion-input type="text" [(ngModel)]="item.EditMESSAGE"></ion-input>
            </ion-item>
          </ion-card-content>
        </ng-template>
      </ion-card>
  </ion-content>