
.menu{
  color: rgb(3, 3, 3);
  height: 25px;
  border-bottom: none;
  margin-top: 20px;
  margin-left: none;
  width: 50px;
  transform: rotate(-0deg);
}
form{
  padding: 10px;
}
ion-toolbar{
  --background:rgba(11, 10, 10, 0.2);
  color: rgb(10, 9, 9);
  display: inline-table;
  img.avatar{
    width: 20%;
    border-radius: 4000px;
    margin-right: none;
    margin-top: 5px;
    float: right;
    --box-shadow: 0 0 7px rgb(8, 8, 8);
    }
}
.bar{
  font-weight: bold;
  margin-left: 100px;
}