<ion-content>
  <ion-header>
    <ion-toolbar>
      <a href="/user-dashboard"><ion-icon slot="start" class="menu" name="arrow-back"></ion-icon></a>
    </ion-toolbar>
  </ion-header>

  <p>VIEW REGISTERED FACULTIES</p>
    <ion-card *ngFor="let item of studentList" color="tertiary">
      <span *ngIf="!item.isEdit; else elseBlock">
        <ion-card-header>
          <p>FACULTY DETAILS</p>

            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-card-subtitle>Faculty Name:</ion-card-subtitle>
                </ion-col>

                <ion-col>
                  <ion-card-subtitle>:{{item.FacultyName}}</ion-card-subtitle>
                </ion-col>
              </ion-row><br>

              <ion-row>
                <ion-col>
                  <ion-card-subtitle>Faculty Number:</ion-card-subtitle>
                </ion-col>

                <ion-col>
                  <ion-card-subtitle>:{{item.FacultyNumber}}</ion-card-subtitle>
                </ion-col>
              </ion-row><br>              
            </ion-grid>
            
        </ion-card-header>
        <ion-card-content>
  
          <ion-button class="booki" shape="round" color="tertiary" size="small" (click)="EditRecord(item)">
            <ion-icon class="man" size="small" slot="icon-only" name="create"></ion-icon>
              View details
          </ion-button>

          <ion-button href="/bookings" class="booki" shape="round" color="primary" size="small">
              View Hall
          </ion-button>

        </ion-card-content>
      </span>
      <ng-template #elseBlock>
        <ion-card-header>
          <ion-card-title>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-card-subtitle>Details</ion-card-subtitle>
                </ion-col>
                <ion-col>
                  <ion-button class="book" color="danger" size="small" (click)="item.isEdit = false">
                    Cancel
                  </ion-button>
                </ion-col>
                <!-- <ion-col>
                  <ion-button class="book" color="success" size="small" (click)="UpdateRecord(item)">
                    Update
                  </ion-button>
                </ion-col> -->
              </ion-row>
            </ion-grid>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          
            <ion-item>
              <ion-label><strong>Faculty Name::</strong></ion-label>
              <ion-input type="text" [(ngModel)]="item.FacultyName"></ion-input>
            </ion-item>
            <ion-item>
            <ion-label><strong>Faculty Number:</strong></ion-label>
            <ion-input type="number" [(ngModel)]="item.HallNumber"></ion-input>
          </ion-item>
        </ion-card-content>
      </ng-template>
    </ion-card>
</ion-content>