<ion-content>
  <a href="/panel"><ion-icon class="menu" name="arrow-back"></ion-icon></a>
  <title>
    Admin Login
  </title>
  <ion-card>
    <ion-card-content>

      <!--ion-icon class="reg" name="person"></ion-icon!-->
      <ion-header>Login</ion-header>

      <form [formGroup]="validationFormUser" (ngSubmit)="loginUser(validationFormUser.value)">
      <div class="wrapform">
        <ion-item>
          <ion-input type="text" name="email" formControlName="email" placeholder="Email" required>
            <ion-icon name="mail"></ion-icon>
          </ion-input>
        </ion-item>
        
        <div>
          <ng-container *ngFor="let validation of validationUserMessage.email">
            <div class="error_message" *ngIf="validationFormUser.get('email').hasError(validation.type) && (validationFormUser.get('email').dirty || validationFormUser.get('email').touched)">
              {{validation.message}}
              </div>
          </ng-container>
        </div>
        <ion-item>
          <ion-input type="password" name="password" formControlName="password" placeholder="Password" required>
            <ion-icon name="lock-closed-sharp"></ion-icon>
          </ion-input>
        </ion-item>

        <div>
          <ng-container *ngFor="let validation of validationUserMessage.password">
            <div class="error_message" *ngIf="validationFormUser.get('password').hasError(validation.type) && (validationFormUser.get('password').dirty || validationFormUser.get('password').touched)">
              {{validation.message}}
              </div>
          </ng-container>
          </div>
        </div>

        <ion-button color="primary" size="block" fill="solid" type="submit" shape="round" [disabled]="!validationFormUser.valid" >
          SignIn
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>