<ion-content>
  <div class="image">
    <div class="form-container mat-elevation-z5 ">
      <div>
        <h1 class="color center">Self-Service Application</h1>
      </div>
      <small>
        Welcome to Seminar Hall Booking, login to Book the hall, cancel booking and many more.
      </small>
      <div class="center margin-top">
        <ion-button color="primary" [routerLink]="['/admin-login']">
          Admin Login
        </ion-button>
      </div>
      <div class="center margin-top">
        <ion-button color="primary" [routerLink]="['/user-login']">
          Faculty
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>